.bg-slate {
    background-color: #e2e2e2;
}

p,h1,h2,h3,h4,h5,h6,label {
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 200;
}

h4 {
    font-weight: 200;
}

