.bg-slate {
    background-color: rgb(226, 226, 226);
}

.weather {
    background-color: rgb(156, 222, 255);
    border: solid rgb(87, 134, 158);
    padding: 25px;
    border-radius: 5px;
}

.horoscope {
    background-color: rgb(111, 77, 145);
    border-color: rgb(55, 35, 74);
    padding: 25px;
    border-radius: 5px;
}

.configuration {
    background-color: rgb(214, 209, 176);
    border-color: rgb(110, 106, 82);
    padding: 25px;
    border-radius: 5px;
}

.button {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

p,h1,h2,h3,h4,h5,h6,label,button {
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 200;
}

h4 {
    font-weight: 200;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}
