.bg-stars {
    background-image: url("stars.png");
}

.bg-slate {
    background-color: rgb(226, 226, 226);
}

.weather {
    background-color: rgba(156, 222, 255, 0.5);
    border: 1px groove rgb(87, 134, 158);
    border-radius: 5px;
    padding: 25px;
}

.horoscope {
    background-color: rgba(130, 84, 161, 0.5);
    border: 1px groove rgb(49, 34, 64);
    border-radius: 5px;
    padding: 25px;
}

.configuration {
    border: 1px groove rgb(110, 106, 82);
    border-radius: 5px;
    padding: 25px;
    min-width: 250px;
}

.button {
    background-color: transparent;
    border: 1px solid rgb(75, 75, 75);
    color: rgb(75, 75, 75);
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

p,h1,h2,h3,h4,h5,h6,label,button {
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 5vw;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 200;
}

h4 {
    font-weight: 200;
    font-size: 250%;
}

p {
    font-weight: 100;
    font-size: 150%;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.border-top-white {
    border: 0;
    border-top: 1px solid white;
}

.border-bottom-black {
    border: 0;
    border-bottom: 1px solid black;
}

.large-display {
    font-size: 50px;
    font-weight: 100;
}